[LABELS]

# Format is as follows:
# 0xBEEF = MyLabel

# Labels for hardware registers.

# PPU
0x2000 = r_PPU_CTRL
0x2001 = r_PPU_MASK
0x2002 = r_PPU_STATUS
0x2003 = r_OAM_ADDR
0x2004 = r_OAM_DATA
0x2005 = r_PPU_SCROLL
0x2006 = r_PPU_ADDR
0x2007 = r_PPU_DATA
0x4014 = r_OAM_DMA

# APU / IO
0x4000 = r_APU_pulse_1_1
0x4001 = r_APU_pulse_1_2
0x4002 = r_APU_pulse_1_3
0x4003 = r_APU_pulse_1_4
0x4004 = r_APU_pulse_2_1
0x4005 = r_APU_pulse_2_2
0x4006 = r_APU_pulse_2_3
0x4007 = r_APU_pulse_2_4
0x4008 = r_APU_tri_1
0x4009 = r_APU_tri_2
0x400A = r_APU_tri_3
0x400B = r_APU_tri_4
0x400C = r_APU_noise_1
0x400D = r_APU_noise_2
0x400E = r_APU_noise_3
0x400F = r_APU_noise_4
0x4010 = r_APU_DMC_1
0x4011 = r_APU_DMC_2
0x4012 = r_APU_DMC_3
0x4013 = r_APU_DMC_4
0x4015 = r_APU_status
0x4016 = r_JOY1
0x4017 = r_APU_frame


# Labels for SMB code.

0x8057 = infinite_loop


[FORCE END CHUNK]

# When parsing a chunk, reaching any of the addresses in this section will
# cause the parser to end the chunk.
# Format is as follows:
# 0xBEEF = Helpful comment.

0x8215 = Attempt to bypass some weirdness.
0xF3B0 = Jump is always taken.


[PRE COMMENTS]

# Format is as follows:
# 0xBEEF = Comment that appears on the line above the given address.


[INLINE COMMENTS]

# Format is as follows:
# 0xBEEF = Comment that appears at the end of the line.


[POST COMMENTS]

# Format is as follows:
# 0xBEEF = Comment that appears on the line below the given address.
